<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154671590346-2036heudtmbga0pogso3f3td087m11ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154671590346-2036heudtmbga0pogso3f3td087m11ob</string>
	<key>API_KEY</key>
	<string>AIzaSyCvTCACajmwVSlQWxGuNtV1hKHgM4Ipi6g</string>
	<key>GCM_SENDER_ID</key>
	<string>154671590346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scheduleUtmStudent</string>
	<key>PROJECT_ID</key>
	<string>utm-shuttle-bus-tracker-3d7a1</string>
	<key>STORAGE_BUCKET</key>
	<string>utm-shuttle-bus-tracker-3d7a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154671590346:ios:7edf8d06b5bb53eeb7bd33</string>
</dict>
</plist>